# IntelliJ IDEA files
.idea/
*.iml
out/
*.ipr
*.iws

# Maven target directory
target/

# Gradle build directory
build/
.gradle/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.class
